<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Todo APP</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
    td {
        text-align: left;
        padding-right: 20px;
    }
</style>
<script src=""></script>
<body>
    
<div class="">
 <h3>TODO APP </h3>
 <footer>
    <table>
        <tr>
            <td>Server version: </td>
            <td><span th:text="${VERSION}"></span></td>
        </tr>
        <tr>
            <td>Written by: </td>
            <td>kaerhae</td>
        </tr>
    </table>
    
</footer>
</div>

</body>
</html>